@import './theme.scss';
.hover-underline-animation {
    cursor: pointer;
    position: relative;
    display: inline-block;
    &:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: $primary;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }
    &:hover {
        color: $primary !important;
        &:after {
            transform: scaleX(1);
            transform-origin: bottom left;
        }
    }
}

